type: "MARKDOWN_NOTE"
folder: "59ca90aaaa6a99d8066a"
title: "Router Operation"
content: '''
  # Router Operation
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-17T20:58:28.115Z"
updatedAt: "2017-11-17T20:58:28.115Z"
